extends layout

block content
  h1= title
  p Welcome to #{title}, to know more about this service check the github repository:
  a(href="https://github.com/Mercury-Smartstores/Mercury-Pose-Estimation") Mercury-Pose-Estimation
